@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-page-title">
    <!-- start main page title -->
    <div class="container">
        <h3 class="job-detail-title">Detalles del Empleo</h3>
        <ul class="meta-job-detail">
            <li><i class="fa fa-share-square-o"></i><a href="">Compartir</a></li>
            <li><i class="fa fa-twitter"></i><a href="">Twitter</a></li>
            <li class="sline">|</li>
            <li><i class="fa fa-facebook"></i><a href="">Facebook</a></li>
            <li class="sline">|</li>
            <li><i class="fa fa-google-plus"></i><a href="">Google+</a></li>
        </ul>
        <div class="recent-job-detail">
            <div class="col-md-5 job-detail-desc">
                <h5>Analista digital email marketing</h5>
                <p>Formación: Economista, estadistico, ingeniero industrial, mercadeo, y áreas afines para dirigir importante campaña</p>
            </div>
            <div class="col-md-2 job-detail-name">
                <h6>Analista Senior</h6>
            </div>
            <div class="col-md-2 job-detail-location">
                <h6><i class="fa fa-map-marker"></i>Manizales</h6>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-7 job-detail-type">
                        <h6><i class="fa fa-calendar"></i> 25/09/2014</h6>
                    </div>
                    <div class="col-md-5 job-detail-button">
                        <button class="btn-apply-job">Aplicar</button>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="row  job-detail">
            <div class="col-md-12">
                <h6>DESCRIPCIÓN</h6>
                <p>
                    Responsable por el diseño, construcción, análisis y entrega de información del programa de e mail marketing de la gerencia de transaccionales. Como también contribuir al desarrollo del canal de email diseñando e implementando estrategias que contribuyan a incrementar la rentabilidad de las campañas. Con el fin de: 	Analizar los resultados de las campañas, entregando reportes semanales, mensuales. Con el propósito de proveer recomendaciones accionables a los negocios. 	Trabajar con las diferentes áreas de la gerencia en la construcción de las campañas. 	Proveer hallazgos en tendencias de las campañas de email 	Análisis del impacto de las campañas en los portales 	Segmentación de clientes 	Diseño y mantenimiento de procesos de email
                </p>
            </div>

        </div>
        <div class="spacer-1">&nbsp;</div>
    </div>
</div>
<div class="container job-detail">

    <div class="spacer-1">&nbsp;</div>
    <h4><i class="glyphicon glyphicon-briefcase"></i> EMPLEOS RELACIONADOS</h4>
    <div id="tab-container" class='tab-container'>
        <!-- Start Tabs -->
        <ul class='etabs clearfix'>
            <li class='tab'><a href="#all">Todos</a></li>
        </ul>
        <div class='panel-container'>
            <div id="all">
                <!-- Tabs section 1 -->
                <div class="recent-job-list">
                    <!-- Tabs content -->
                    <div class="col-md-6 job-list-desc">
                        <h6>Estudiantes ingeniería de sistemas</h6>
                        <p>Estudiantes de últimos semestres, recién graduados o en proceso de grado</p>
                    </div>
                    <div class="col-md-3 job-list-location">
                        <h6><i class="fa fa-map-marker"></i>Manizales, Colombia</h6>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-7 job-list-type">
                                <h6><i class="fa fa-calendar"></i> 25/09/2014</h6>
                            </div>
                            <div class="col-md-5 job-list-button">
                                <button class="btn-view-job">Ver Oferta</button>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div><!-- Tabs content -->

            </div><!-- Tabs section 1 -->
            <div id="contract">
                <!-- Tabs section 2 -->
            </div><!-- Tabs section 2 -->
            <div id="full">
                <!-- Tabs section 3 -->
            </div><!-- Tabs section 3 -->
            <div id="free">
                <!-- Tabs section 4 -->
            </div><!-- Tabs section 4 -->
        </div>
    </div><!-- end Tabs -->
</div>
