@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-page-title">
    <!-- start main page title -->
    <div class="container">
        <div class="post-job-title">Registrar Oferta de Empleo</div>
    </div>
</div><!-- end main page title -->
<div class="container">
    <div class="spacer-1">&nbsp;</div>
    <div class="row">
        <div class="col-md-12">
            <form role="form" class="post-job-form">
                <div class="form-group">
                    <label for="jobtitle">Título</label>
                    <input type="text" class="form-control input" id="jobtitle" />
                    <p>Ej. Analista de Marketing</p>
                </div>
                <div class="form-group">
                    <label for="jobtag">Descripción</label>
                    <textarea class="form-control textarea"></textarea>
                    <p>Ej. Responsable por el diseño, construcción, análisis y entrega de información del programa de e mail marketing de la gerencia de transaccionales.</p>
                </div>
                <div class="form-group">
                    <label for="jobtag">Dirección</label>
                    <input type="email" class="form-control input" id="email" />
                    <p>Ej. Carrera 17 # 36-82</p>
                </div>
                <div class="form-group">
                    <label for="jobtitle">Tiempo de Experiencia</label>
                    <input type="text" class="form-control input" id="jobtitle" />
                    <p>Ej. 3 años</p>
                </div>

                <div class="form-group">
                    <label for="email">Cargo</label>
                    <input type="text" class="form-control input" id="jobtitle" />
                    <p>Ej. Gerente de Marketing</p>
                </div>


                <div class="form-group">
                    <label for="jobregion">Departamento</label>
                    <select class="form-control" id="jobregion">
                        <option>Caldas</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="jobregion">Municipio</label>
                    <select class="form-control" id="jobregion">
                        <option>Manizales</option>
                    </select>
                </div>

                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="jobtype">Nivel Educativo</label>
                        <select class="form-control" id="jobtype">
                            <option>Básica Primaria (1 - 5)</option>
                        </select>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="jobregion">Sector Empresarial</label>
                        <select class="form-control">
                            <option>Ganadería</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="jobtag">Profesión </label>
                    <input type="text" class="form-control input" id="jobtag" />
                    <p>Ej. Economista, estadístico, ingeniero industrial, mercadeo, y áreas afines</p>
                </div>

                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="closedate">Salario</label>
                        <input type="text" class="form-control input" id="closedate" />
                        <p>Ej. $2.200.000</p>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="jobregion">Cantidad de Vacantes</label>
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="joblocation">Fecha de Vencimiento</label>
                    <input type="text" class="form-control input" id="joblocation" />
                </div>

                <div class="form-group">
                    <button class="btn btn-default btn-green">Registrar </button>
                </div>
            </form>
            <div class="spacer-2">&nbsp;</div>
        </div>


    </div>
</div>
